body{
    padding: 0;
    margin: 0;
    background-color: #e4ebf5;
    font-family: 'FontLight', sans-serif;
}

header{
    background-color: rgb(255, 255, 255);
    height: 83px;
    border-bottom: 4px solid rgb(7, 10, 170);
}

.logo-pagina img{
    width: 140px;
    height: 80px;
    display: flex;
    position: relative;
    bottom: 56px;
    right: 12px;
}

.btn_menu {
    padding: 15px;
    display: flex;
    justify-content: flex-end;
}

.btn_menu img{
    text-decoration: none;
    width: 30px;
    height: 30px;
    position: relative;
    top: 10px;
}

.menu {
    width: 100%;
    display: flex;
    background-color: #070aaa;
    opacity: 0.8;
    position: relative;
    bottom: 53px;
    z-index: 100;
}

ul.navigation {
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

    /* si tiene tambien la clase show */
    ul.navigation.show {
        display: flex;
    }

ul.navigation li {
    list-style: none;
    margin: 0px 0px;
    padding: 15px 20px;
}

ul.navigation li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;

}

ul.navigation li:hover {
    background-color: rgb(46, 122, 209);
}

.contenedor-grid{
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    justify-items: center;
    margin: 0;
}

img{
    width: 96.5%;
    height: 70%;
    border-radius: 8px;
    z-index: 100;
}

.destinos {
    position: relative;
    top: 40px;
    text-align: center;
}

.contenedor-grid p{
    background-color: #070aaa;
    color: white;
    height: 15%;
    width: 96.8%;
    position: relative;
    bottom: 30px;
    left: 5px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "georama", sans-serif;
    font-style: normal;
    font-size: 17px;
}


@media screen and (min-width: 768px){

    /* en desktop ocultamos siempre el boton del menu */
    .btn_menu {
    display: none;
    }

   /* cambiamos la direccion del flex */
    ul.navigation {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    
    body{
        padding: 0;
        margin: 0;
    }
    
    .logo-pagina img{
        position: relative;
        top: 15px;
        left: 8px;
        width: 170px;
        height: 100px;
        z-index: 1000;
    }

    header{
        position: relative;
        height: 110px;
    }

    .menu{
        width: 100%;
        height: 100px;
        position: relative;
        bottom: 80px;
        background-color: rgb(255, 255, 255);
        opacity: 1;
    }

    ul.navigation li a{
        color: #070aaa;
        font-size: 25px;
    }

    ul.navigation li:hover {
        background-color: rgb(116, 172, 236);
    }

    .contenedor-grid{
        grid-template-columns: 25% 25% 25% 25%;
    }

    .contenedor-grid p{
        height: 90px;
        width: 100%;
        right: 0px;
        left: 0px;
    }


    img{
        width: 360px;
        height: 390px;
    }
}
